@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tabs h1,.tabs1 h1,.tabs2 h1,.tabs3 h1,.tabs4 h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
.tabs h1 span,.tabs1 h1 span,.tabs2 h1 span,.tabs3 h1 span,.tabs4 h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.label{
  font-weight: normal;
}
.tabs,.tabs1,.tabs2,.tabs3,.tabs4 {
  float: none;
  list-style: none;
  position: relative;

  text-align: left;
}
.tabs li,.tabs1 li,.tabs2 li,.tabs3 li,.tabs4 li {
  float: left;
  display: block;
}
.tabs .lii>label,.tabs1 .lii>label,.tabs2 .lii>label,.tabs3 .lii>label,.tabs4 .lii>label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover,.tabs1 label:hover,.tabs2 label:hover,.tabs3 label:hover,.tabs4 label:hover {
 /* background: darkseagreen;*/
}
.tabs .tab-content,.tabs1 .tab-content,.tabs2 .tab-content,.tabs3 .tab-content,.tabs4 .tab-content{
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  top: 53px;
  left: 0;
 /* background: darkseagreen;*/
}
.tabs [id^="tab"]:checked + label,.tabs1 [id^="tab"]:checked + label,.tabs2 [id^="tab"]:checked + label,
.tabs3 [id^="tab"]:checked + label,.tabs4 [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
 /* background: darkseagreen;*/
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"],.tabs1 [id^="tab"]:checked ~ [id^="tab-content"],
.tabs2 [id^="tab"]:checked ~ [id^="tab-content"],
.tabs3 [id^="tab"]:checked ~ [id^="tab-content"],.tabs4 [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.tabs p.link,.tabs1 p.link,.tabs2 p.link,.tabs3 p.link,.tabs4 p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
.tabs p.link a,.tabs1 p.link a,.tabs2 p.link a,.tabs3 p.link a,.tabs4 p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: darkseagreen;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tabs p.link a:hover,.tabs1 p.link a:hover,.tabs2 p.link a:hover,.tabs3 p.link a:hover,.tabs4 p.link a:hover {
  background-color:darkseagreen;
}
/*************************/
.tabas h1,.tabas1 h1,.tabas2 h1,.tabas3 h1,.tabas4 h1 {
   font-weight: normal;
   font-size: 40px;
   font-weight: normal;
   text-transform: uppercase;
   float: left;
   margin: 20px 0 100px 10px;
 }
.tabas h1 span,.tabas1 h1 span,.tabas2 h1 span,.tabas3 h1 span,.tabas4 h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.label{
  font-weight: normal;
}
.tabas,.tabas1,.tabas2,.tabas3,.tabas4 {
  float: none;
  list-style: none;
  position: relative;

  text-align: left;
}
.tabas li,.tabas1 li,.tabas2 li,.tabas3 li,.tabas4 li {
  float: left;
  display: block;
}
.tabas .lii>label,.tabas1 .lii>label,.tabas2 .lii>label,.tabas3 .lii>label,.tabas4 .lii>label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabas label:hover,.tabas1 label:hover,.tabas2 label:hover,.tabas3 label:hover,.tabas4 label:hover {
 /* background: darkseagreen;*/
}
.tabas .tab-content,.tabas1 .tab-content,.tabas2 .tab-content,.tabas3 .tab-content,.tabas4 .tab-content{
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  top: 53px;
  left: 0;
 /* background: darkseagreen;*/
}
.tabas [id^="tab"]:checked + label,.tabas1 [id^="tab"]:checked + label,.tabas2 [id^="tab"]:checked + label,
.tabas3 [id^="tab"]:checked + label,.tabas4 [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
 /* background: darkseagreen;*/
}
.tabas [id^="tab"]:checked ~ [id^="tab-content"],.tabas1 [id^="tab"]:checked ~ [id^="tab-content"],
.tabas2 [id^="tab"]:checked ~ [id^="tab-content"],
.tabas3 [id^="tab"]:checked ~ [id^="tab-content"],.tabas4 [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.tabas p.link,.tabas1 p.link,.tabas2 p.link,.tabas3 p.link,.tabas4 p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
.tabas p.link a,.tabas1 p.link a,.tabas2 p.link a,.tabas3 p.link a,.tabas4 p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: darkseagreen;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tabas p.link a:hover,.tabas1 p.link a:hover,.tabas2 p.link a:hover,.tabas3 p.link a:hover,.tabas4 p.link a:hover {
  background-color:darkseagreen;
}
.tabas input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
/********************************************/
.tabass h1,.tabass1 h1,.tabass2 h1,.tabass3 h1,.tabass4 h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
.tabass h1 span,.tabass1 h1 span,.tabass2 h1 span,.tabass3 h1 span,.tabass4 h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.label{
  font-weight: normal;
}
.tabass,.tabass1,.tabass2,.tabass3,.tabass4 {
  float: none;
  list-style: none;
  position: relative;

  text-align: left;
}
.tabass li,.tabass1 li,.tabass2 li,.tabass3 li,.tabass4 li {
  float: left;
  display: block;
}
.tabass .lii>label,.tabass1 .lii>label,.tabass2 .lii>label,.tabass3 .lii>label,.tabass4 .lii>label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabass label:hover,.tabass1 label:hover,.tabass2 label:hover,.tabass3 label:hover,.tabass4 label:hover {
 /* background: darkseagreen;*/
}
.tabass .tab-content,.tabass1 .tab-content,.tabass2 .tab-content,.tabass3 .tab-content,.tabass4 .tab-content{
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  top: 53px;
  left: 0;
 /* background: darkseagreen;*/
}
.tabass [id^="tab"]:checked + label,.tabass1 [id^="tab"]:checked + label,.tabass2 [id^="tab"]:checked + label,
.tabass3 [id^="tab"]:checked + label,.tabass4 [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
 /* background: darkseagreen;*/
}
.tabass [id^="tab"]:checked ~ [id^="tab-content"],.tabass1 [id^="tab"]:checked ~ [id^="tab-content"],
.tabass2 [id^="tab"]:checked ~ [id^="tab-content"],
.tabass3 [id^="tab"]:checked ~ [id^="tab-content"],.tabass4 [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.tabass p.link,.tabass1 p.link,.tabass2 p.link,.tabass3 p.link,.tabass4 p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
.tabass p.link a,.tabass1 p.link a,.tabass2 p.link a,.tabass3 p.link a,.tabass4 p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: darkseagreen;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tabass p.link a:hover,.tabass1 p.link a:hover,.tabass2 p.link a:hover,.tabass3 p.link a:hover,.tabass4 p.link a:hover {
  background-color:darkseagreen;
}
.tabass input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
/***********************************/
.tabasp h1,.tabasp1 h1,.tabasp2 h1,.tabasp3 h1,.tabasp4 h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
.tabasp h1 span,.tabasp1 h1 span,.tabasp2 h1 span,.tabasp3 h1 span,.tabasp4 h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.label{
  font-weight: normal;
}
.tabasp,.tabasp1,.tabasp2,.tabasp3,.tabasp4 {
  float: none;
  list-style: none;
  position: relative;

  text-align: left;
}
.tabasp li,.tabasp1 li,.tabasp2 li,.tabasp3 li,.tabasp4 li {
  float: left;
  display: block;
}
.tabasp .lii>label,.tabasp1 .lii>label,.tabasp2 .lii>label,.tabasp3 .lii>label,.tabasp4 .lii>label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabasp label:hover,.tabasp1 label:hover,.tabasp2 label:hover,.tabasp3 label:hover,.tabasp4 label:hover {
 /* background: darkseagreen;*/
}
.tabasp .tab-content,.tabasp1 .tab-content,.tabasp2 .tab-content,.tabasp3 .tab-content,.tabasp4 .tab-content{
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  top: 53px;
  left: 0;
 /* background: darkseagreen;*/
}
.tabasp [id^="tab"]:checked + label,.tabasp1 [id^="tab"]:checked + label,.tabasp2 [id^="tab"]:checked + label,
.tabasp3 [id^="tab"]:checked + label,.tabasp4 [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
 /* background: darkseagreen;*/
}
.tabasp [id^="tab"]:checked ~ [id^="tab-content"],.tabasp1 [id^="tab"]:checked ~ [id^="tab-content"],
.tabasp2 [id^="tab"]:checked ~ [id^="tab-content"],
.tabasp3 [id^="tab"]:checked ~ [id^="tab-content"],.tabasp4 [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.tabasp p.link,.tabasp1 p.link,.tabasp2 p.link,.tabasp3 p.link,.tabasp4 p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
.tabasp p.link a,.tabasp1 p.link a,.tabasp2 p.link a,.tabasp3 p.link a,.tabasp4 p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: darkseagreen;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tabasp p.link a:hover,.tabasp1 p.link a:hover,.tabasp2 p.link a:hover,.tabasp3 p.link a:hover,.tabasp4 p.link a:hover {
  background-color:darkseagreen;
}
.tabasp input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
/*************************************************************************
************************************************************************
 */
.tab11 h1,.tab111 h1,.tab112 h1,.tab113 h1,.tab114 h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
.tab11 h1 span,.tab111 h1 span,.tab112 h1 span,.tab113 h1 span,.tab114 h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
.label{
  font-weight: normal;
}
.tab11,.tab111,.tab112,.tab113,.tab114 {
  float: none;
  list-style: none;
  position: relative;

  text-align: left;
}
.tab11 li,.tab111 li,.tab112 li,.tab113 li,.tab114 li {
  float: left;
  display: block;
}
.tab11 .lii>label,.tab111 .lii>label,.tab112 .lii>label,.tab113 .lii>label,.tab114 .lii>label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tab11 label:hover,.tab111 label:hover,.tab112 label:hover,.tab113 label:hover,.tab114 label:hover {
 /*/* background: darkseagreen;*/*/
}
.tab11 .tab-content,.tab111 .tab-content,.tab112 .tab-content,.tab113 .tab-content,.tab114 .tab-content{
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  position: absolute;
  top: 53px;
  left: 0;
 
}
.tab11 [id^="tab"]:checked + label,.tab111 [id^="tab"]:checked + label,.tab112 [id^="tab"]:checked + label,
.tab113 [id^="tab"]:checked + label,.tab114 [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
 /*/* background: darkseagreen;*/*/
}
.tab11 [id^="tab"]:checked ~ [id^="tab-content"],.tab111 [id^="tab"]:checked ~ [id^="tab-content"],
.tab112 [id^="tab"]:checked ~ [id^="tab-content"],
.tab113 [id^="tab"]:checked ~ [id^="tab-content"],.tab114 [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

.tab11 p.link,.tab111 p.link,.tab112 p.link,.tab113 p.link,.tab114 p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
.tab11 p.link a,.tab111 p.link a,.tab112 p.link a,.tab113 p.link a,.tab114 p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
 /* background-color: darkseagreen;*/
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tab11 p.link a:hover,.tab111 p.link a:hover,.tab112 p.link a:hover,.tab113 p.link a:hover,.tab114 p.link a:hover {
 /* background-color:darkseagreen;*/
}
.tab11 input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}